services:
  php:
    build: ./docker
    ports:
     - '8888:80'
    networks:
      - myapp-network     
    volumes:
     - .:/var/www/html

  nginx:
    image: nginx:stable-alpine
    volumes:
      - .:/var/www/html
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    ports:
      - "8081:80"
    networks:
      - myapp-network
    depends_on:
      php:
        condition: service_healthy
    restart: unless-stopped